# Python Virtual Environments
.venv/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Databases
*.db
*.db-journal
*.sqlite

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Vercel Configuration & Cache
.vercel/
